<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css"> 
    <!-- iconscout -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- Google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
   
   <!-- javascript file -->
    <script src="../public/js/index.js"></script>
    <title>NestPoint</title>
</head>
<body>
    
    <!-- =========================== navbar ============================== -->
    <div class="topsection">
        <nav>
            <div class="container nav__container">
                <a href="index.html"><h4>NestPoint</h4></a>
                <ul class="nav__menu">
                    <li><a href="#">Tutorials</a></li>
                    <li><a href="#">Get Certificate</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contactUs.html">Contact US</a></li>
                    <li><a href="login.html"><i class="uil uil-user"></i></a></li>
    
                </ul>
                <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
                <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
            </div>
        </nav>
    
    <!-- ========================== header =================================== -->
    
        <header class="container header">
            <div class="left">
                <h1>Welcome, to the NestPoint Learning And Evaluation Platform</h1>
                <p>Grow your skills in NestJS through our platform by practical examples and exercises.</p>
                <a href="#" class="btn btn2">Let's Get Started</a>
            </div>
            <div class="right">
                <div class="right_img">
                    <img src="../public/images/cover-image.svg" alt="">
                </div>
            </div>
        </header>

    </div>

    <!-- ====================== Highlights Section ========================== -->

    <section class="highlights">
        <h2>COURSE HIGHLIGHTS</h2>
        <div class="container highlights__container">

            <div class="course">
                <div class="course__image">
                    <img src="../public/images/code3.jpeg" alt="image">
                </div>
                <div class="course__info">
                    <h4>NestJS Basics</h4>
                    <p>Learn all about the basics of NestJS in an easy and efficient. and test your skills through our exercises. </p>
                    <a href="#" class="btn btn2">Learn More</a>
                </div>
            </div>

            <div class="course">
                <div class="course__image">
                    <img src="../public/images/api.jpg" alt="image">
                </div>
                <div class="course__info">
                    <h4>Handling Rest APIs</h4>
                    <p>Learn all about the basics of NestJS in an easy and efficient. and test your skills through our exercises</p>
                    <a href="#" class="btn btn2">Learn More</a>
                </div>
            </div>

            <div class="course">
                <div class="course__image">
                    <img src="../public/images/type.png" alt="image">
                </div>
                <div class="course__info">
                    <h4>Working with TypeORM</h4>
                    <p>Learn all about the basics of NestJS in an easy and efficient. and test your skills through our exercises</p>
                    <a href="#" class="btn btn2">Learn More</a>
                </div>
            </div> 

            <div class="course">
                <div class="course__image">
                    <img src="../public/images/think.png" alt="image">
                </div>
                <div class="course__info">
                    <h4>Exercises And Evaluation</h4>
                    <p>Learn all about the basics of NestJS in an easy and efficient. and test your skills through our exercises</p>
                    <a href="#" class="btn btn2">Learn More</a>
                </div>
            </div> 

        </div>

    </section>

</body>
</html>