<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUP Page</title>
   </head>
<body>

  <section class="heading-link">
    <h3>Sign Up</h3>
    <p> <a href="index.html">Home</a> / <a href="login.html">Login</a> / Sign Up </p>
 </section>
<section class="section2">
  <div class="container">
    <div class="cover">
      <div class="front">
        <img src="../public/images/4.jpg" alt="">
        <!-- <div class="text">
          <span class="text-1">Every new friend is a <br> new adventure</span>
          <span class="text-2">Let's get connected</span>
        </div> -->
        <div class="text">
          <span class="text-1">Welcome to Nestpoint Platform! <br>To get started,</span>
          <span class="text-2">Please provide your credentials</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form action="#" method="post">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="input" placeholder="Enter Your username" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>
              <!-- <div class = "withG input-box">
                <i class ="fas fa-user"></i>
                <span>or login with Googe</span>
              </div> -->
              <div class="text sign-up-text">Already have an account? "<a href="login.html">Login now</a>"</div>
            </div>
        </form>
      </div>
        
    </div>
    </div>
  </div>

</section>
  

</body>
</html>
